/* ---------------------- LEFT ----------------------*/
#left_div {
    flex: 1;
    overflow: auto;
    background-color: var(--lightgray);
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    padding: 0 var(--main_div_padding) var(--main_div_padding) var(--main_div_padding);
    position: relative;
    min-height: 100px;
    min-width: 300px;
}
.step {
    display: none;
    background-color: white;
}

#input_mcq_div {
    display: block;
}
#input_mcq { 
    width: 100%;
    vertical-align: bottom;
    margin: 0;
    padding: 5px;
    min-height: 300px;
}

#input_format {
    margin-top: 8px;
    margin-bottom: 8px;
}

#ak_div { /*grid display set by goToStep()*/
    grid-template-columns: 50% 50%;
}
#ak_settings {
    grid-column: 1 / span 2;
}
#input_ak {
    width: calc(100% - 4px);
    padding: 5px;
}
#parsed_ak {
    width: calc(100% - 4px);
    margin-left: 4px;
    table-layout: fixed;
}
#parsed_ak th {
    border: 2px solid black;
}
#parsed_ak td {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#parsed_ak th:empty,
#parsed_ak td:empty {
    border: none;
}

#output_div{
    width: 100%;
}
#output {
    padding: 8px;
    white-space: pre-wrap;

}
#output_ak {
    font-size: var(--f2);
    text-decoration: underline;
}
#ak_format input,
#ak_format .input,
#output_format input {
    margin-top: 5px;
}

#copy_button_1,
#copy_button_2 {
    margin: 0 0 8px 8px;
}

.settings {
    min-height: calc(24px + 8px + 8px);
    position: relative;
}
.settings > div {
    display: none;
    padding: 8px 0 8px 8px;
    margin-right: calc(24px + 8px + 8px);
}
.settings_gear {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 8px;
    /*cursor: pointer;*/
}

.label_div {
    display: inherit; /* flex or none */
    align-items: center;
}
.label_table {
    display: table;
    margin-top: 3px;
    border-collapse: collapse; /* Add this line */

}
.label_table td {
    padding: 0;
    border: 1px solid black;
    background-color: rgb(70, 70, 70);
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.label_table td:hover {
    background-color: rgb(90, 90, 90);
}
.label_table tr:first-child > td:nth-child(2) {
    cursor: auto;
}
.label_table tr:first-child > td:nth-child(2):hover {
    background-color: rgb(70, 70, 70);
}
.label_table td.input {
    color: black;
    text-align: left;
}

.input,
input {
    background-image: linear-gradient(to right, #ddd 1ch, white 1ch);
    background-size: 2ch 100%;
    background-repeat: repeat;
    font-family: monospace;
    font-size: var(--f3);
    padding-left: 0;
    padding-right: 0;
    border: 0;
}
#ak_format .input,
.label_table td.input {
    min-width: 4ch;
}
#ak_format .input,
#output_format input,
#renumber_questions_start{
    display: inline-block;
    outline: 1px solid black;
}
.input:focus,
#output_format input:focus,
#renumber_questions_start:focus {
    outline: 2px solid #025ecc !important;
}
.label_table td.input:focus {
    outline-offset: -0.5px;
    position: relative;
    z-index: 1;
}
#renumber_questions_start {
    width: 4ch;
    background-image: none;
}

#left_div select,
#left_div textarea {
    font-size: var(--f1);
    font-family: var(--font_family);
}

#nav_tabs {
    border-bottom: 3px solid #ddd;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    font-size: var(--f2);
}
#nav_tabs > li {
    float: left;
    margin-bottom: -3px;
    position: relative;
    display: block;
    transform: translateY(-1px);
}
#nav_tabs > li > a {
    color: var(--bluelink);
    text-decoration: none;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 3px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
}
#nav_tabs > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
    color: #23527c;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    border-top: 3px solid #eeeeee;
    border-left: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
    border-radius: 0;
}
#nav_tabs > li.active > a {
    color: #555555;
    background-color: white;
    font-weight: 700;
    cursor: auto;
    border-bottom: 4px solid transparent;
    border-top: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
}

@media (max-width: 1100px) {

    #nav_tabs {
        border-bottom: 3px solid #ddd;
        margin-bottom: 0;
    }
    #nav_tabs > li {
        float: none;
        margin-bottom: 0;
        transform: none;
    }
    #nav_tabs > li > a {
        border: 0;
        border-left: 3px solid #ddd;
        border-radius: 0;
    }
    #nav_tabs > li > a:hover {
        border: 0;
        border-left: 3px solid #ddd;
        border-radius: 0;
    }
    #nav_tabs > li.active > a {
        background-color: var(--lightgray);
        border: 0;
        border-left: 3px solid #555555;
        border-radius: 0;
    }
}

/* ---------------------- MIDDLE ----------------------*/

#middle_div button {
    margin: 0 10px 25px 10px;
    padding: 5px 2px 5px 2px;
    font-size: var(--f3);
    position: relative;
    top: calc(var(--header_height) + 10px + 3px - 2px);
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    width: 10ch;
    display: none;
    background-color: white;
    box-shadow: 5px 10px rgb(30, 30, 30);
    /*cursor: pointer;*/
}

#middle_div button:active {
    background-color: white;
    transform: translate(3px, 7px);
    box-shadow: 2px 4px black;
}

#middle_div #parse_mcq_button {
    display: block;
}

@media (max-width: 1100px) {
    #middle_div button {
        font-size: var(--f2);
    }
}

/* ---------------------- RIGHT ----------------------*/

#right_div {
    flex: 1;
    overflow: auto;
    background-color: var(--lightgray);
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 300px;
}

#parsed_mcq {
    width: calc(100% - 30px);
    margin: 0 var(--main_div_padding) var(--main_div_padding) var(--main_div_padding);
    min-width: 18ch;
    display: none;
}
#parsed_mcq th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: white;
    z-index: 2;
    top: var(--header_height);
    outline: solid black 2px; /*border conflicts with position:sticky and border-collapse:collapse*/
}
#parsed_mcq th:nth-child(2),
#parsed_mcq td:nth-child(2){
    display: none;
}
#parsed_mcq th:nth-child(3){
    padding-left: calc(3ch - 2px);
    color: var(--bluelink);
}
#parsed_mcq th:nth-child(3):hover{
    font-size: 0;
}
#parsed_mcq th:nth-child(3):hover:before {
    content: 'switch view';
    text-transform: lowercase;
    font-variant: normal;
    font-size: 10px;
    float: none;
}
.minimal:after {
    content: '\00B7\00B7\00B7\00A0'; /* ··· */
    float: right;
    font-size: 10px;
    width: 3ch;
    color: black;
    transform: translateY(-0.75px);
    scale: 140%;
}
.expanded:after {
    content: ':::\00A0';
    float: right;
    font-size: 10px;
    width: 3ch;
    color: black;
    transform: translateY(-1.25px);
    scale: 140%;
}
#parsed_mcq td:nth-child(3)
{
    white-space: nowrap;
    overflow: clip;
}
.parsed_mcq_cell_div {
    max-height: 3em;
}
.expanded_view,
.parsed_mcq_cell_div:active {
    max-height: none;
    white-space: pre-wrap;
}
#parsed_mcq td:nth-child(4),
#parsed_mcq td:nth-child(5) {
    text-align: center;
}
.empty_line {
    background-color: Gray;
}
.question {
    background-color: LightGoldenRodYellow;
}
.answer {
    background-color: Azure;
}
.section {
    background-color: HoneyDew;
}
.error {
    border: 5px solid red;
    background-color: white;
}

/* --- Header  ---*/

#youtube {
    height: 36px;
    width: auto;
    float: right;
    margin: -3px 20px 0 10px;
    border: 1px;
    border-radius: 2px;
    transition: transform 0.3s;
}
#youtube:hover {
    transform: scale(1.05);
}

#user_guide_button {
    color: var(--bluelink);
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: -10px 5px 0 0;
    float: right;
    border: 3px solid #ddd;
    border-radius: 100%;
    /*cursor: pointer;*/
    font-family: monospace;
}

.user_guide_tooltip:hover {
    width: auto !important;
    border-radius: 25px !important;
    color: white !important;
}
.user_guide_tooltip:hover::before {
    content: 'User Guide';
    color: var(--bluelink);
    padding-left: 12px;
}

/* --- User Guide  ---*/

#user_guide {
    padding: 15px;
    background-color: white;
    border-bottom: solid var(--main_div_padding) var(--lightgray);
    border-left: solid var(--main_div_padding) var(--lightgray);
    border-right: solid var(--main_div_padding) var(--lightgray);
}

#border_mimic{
    height: 3px;
    width: calc(100% - var(--main_div_padding)*2);
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: var(--main_div_padding);
}

#vocab_div {
    display: flex;
    margin-top: 10px;
}
#vocab {
    font-size: var(--f2);
    font-family: var(--font_family);
    width: 15ch;
    border: 0;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: -1px;
    background-color: rgb(240, 240, 250);
}
#vocab *{
    margin: 16px 12px 16px 12px;
}
#vocab *:hover {
    /*cursor: pointer;*/
    text-decoration: underline;
}
#vocab:focus {
    outline: 0;
}
.v_mcq{
    flex: 1;
    vertical-align: bottom;
}
.v_mcq * {
    margin-bottom: 6px;
}
.vocab_highlight {
    outline: 1px solid rgb(25, 100, 25);
    background-color: rgb(185, 255, 185);
}

#user_guide h1 {
    padding-left: 0;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    scroll-margin-top: var(--header_height);
}
#user_guide h1 span {
    background-color: rgb(255, 255, 140);
    outline: 2px solid rgb(255, 255, 140);

}
#user_guide h2 {
    padding-left: 15px;
    font-size: var(--f2);
    margin-top: 10px;
    margin-bottom: 3px;
    scroll-margin-top: var(--header_height);
}
#user_guide h3 {
    padding-left: 25px;
    font-size: var(--f1);
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: normal;
}
#user_guide li,
#user_guide p {
    padding-left: 25px;
    margin-bottom: 3px;
}
#user_guide{
    list-style-position: inside;
}
#toc {
    margin-left: -25px;
}
#toc ul {
    padding-inline-start: 25px;
    list-style-type: none;
}
#toc a {
    text-decoration: none;
    color: black;
}
#toc a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 238);
}

#user_guide #ug_about {
    margin-top: 0;
}

kbd {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: .8em;
    line-height: .8em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
}

.highlight{
    background-color: rgb(190, 190, 190);
    font-family: monospace;
    border-left: 1px solid white;
}

.link_mimic {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.asterisk {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
#user_guide .note {
    display: none;
    width: calc(100%-50px);
    margin-left: 50px;
    padding: 10px;
    background-color: var(--lightgray);
}
#ug_note_2 table {
    table-layout: fixed;
    margin-top: 10px;
}
#ug_note_2 table th,
#ug_note_2 table td {
    border: 1px solid black;
    width: 20ch;
    padding: 2px;
}

#user_guide table {
    margin-left: 25px;
}
#ug_special_chars td {
    padding: 5px;
    border: 1px solid black;
}

.middle_div_button_mimic {
    margin: -3px -32px -25px -37px;
    padding: 5px 2px 5px 2px;
    font-size: var(--f3);
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    width: 10ch;
    background-color: white;
    box-shadow: 5px 10px rgb(30, 30, 30);
    transform: scale(0.4, 0.4) translateY(-25px);
}

/* -- Images  --*/

#parsed_mcq_sample{
    width: 70%;
    min-width: 220px;
    height: auto;
}
#little_gear {
    height: var(--f1);
    width: auto;
    /*cursor: pointer;*/
}
#numbered_list {
    height: calc(var(--f1) * 1.7);
    width: auto;
    margin-bottom: -5px;
}

/* ---------------------- GLOBAL ----------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    height: 100svh;/* mobile */
    width: 100vw;
    margin: 0px;
    background-color: rgb(70, 70, 70);
    margin-block-start: 0;
    display: flex;
    --lightgray: rgb(240, 240, 240);
    --bluelink: #337ab7;
    --main_div_padding: 15px;
    --header_height: 63px;
    --font_family: 'Verdana';
    --font_size: 14px;
    --f1: 14px;
    --f2: 16px;
    --f3: 20px;
    scroll-margin-top: var(--header_height);
    font-family: var(--font_family);
    font-size: var(--f1);
}

.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 2;
    min-height: var(--header_height);
    padding-top: var(--main_div_padding);
    background-color: var(--lightgray);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}
tr {
    height: 1em;
}
td {
    padding: 2px;
    border: 0.5px solid black;
}
.th-mimic,
th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 2px 2px 0; 
}

button {
    font-family: var(--font_family);
    font-size: var(--f2);
    padding: 2px;
}

/* ---------------------- MISC ----------------------*/

#browserError {
    position: fixed;
    top: 0;
    width:100%;
    height:100%;
    z-index:1;
    text-align: center;
    padding-top: 140px;
    background-color: white;
    color: red;
}

.lineX {
    position: fixed;
    width: 100%;
    height: 1px;
    background-color: red;
    z-index: 100;
}

.lineY {
    position: fixed;
    width: 1px;
    height: 100%;
    background-color: red;
    z-index: 100;
}

#lx1 {
    top: 76px;
}

#lx2 {
    top: 83.5px;
}

#lx3 {
    top: 91px;
}


#ly1 {
    right:40px;
}
